* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

  font-style: normal;
}
body {
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}


.drop-down:focus, 
.drop-down:hover {
    outline: none !important;
    box-shadow: none;
}


.drop-down:active,
.drop-down:focus,
.drop-down:hover {
    background-color: transparent !important;
}

.s-heading {
  color: #df352c;
  font-size: small;
  font-weight: bolder;
  margin-top: 70px;
}
.bg-img{
  height: 100vh;
}

.services-icon {
  fill: white;
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  transition: transform 0.3s ease-in-out; /* Smooth transition effect */
}

/* Hover effect - scale the icon on hover */
.services-icon:hover {
  background-color: #ffff;
  fill: #08d3fa;
  transform: scale(1.2); /* Adjust the scale factor as needed */
  cursor: pointer;
}

.fa-phone {
  color: #df352c;
  
}
.color-count {
  color: #df352c;
  font-size: medium, bold;
}
.cards {
  background-color: transparent;
  padding: 20px;
  border: 1px solid rgb(177, 171, 171);
  transition: all 0.3s ease-in-out;
}

.cards:hover {
  background-color: #DF352c;
  border: 1px solid grey;
  cursor: pointer;
}

.cards1:hover {
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 20px 1px rgb(207, 199, 199);
}
.card-icon:hover{
  color:  black !important;
}

.active-client {
  /* background-color: rgb(214, 31, 31); For browsers that do not support gradients */
  background: linear-gradient(
    to right,
    #e75e57,
    #df352c,
    #e1281e,
    #b82119,
    #86110b
  );
}
.career-form-area {
 
  background: linear-gradient(
    to right,
  
    #e75e57,
    #df352c,
    #e1281e,
    #b82119,
    #86110b
  );
}

::placeholder {
  color: #fff2ff;
}

.my-form {
  max-width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: transparent;
}

.my-form label {
  display: block;
  margin-bottom: 8px;
}

.my-form-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 12px;
  box-sizing: border-box;
  
  background: linear-gradient(to right, 
  #e75e57,
  #df352c,
  #e1281e,
  #b82119,
  #86110b);
  border: 1px solid #080808;
}
.contact-btn {
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid white;
  color: black;
  font-weight: 600;
  padding: 10px 25px;
  transition: all 0.3s ease-in-out;
}

.contact-btn:hover {
  background-color: black;
  border: 1px solid #DF352c;
  color: white;
}
.needaconsultant-btn {
  margin-bottom: 5px;
  background-color: black;
  border: 1px solid #DF352c;
  color: #ffff;
  font-weight: 600;
  padding: 10px 25px;
  transition: all 0.3s ease-in-out;
}

.needaconsultant-btn:hover {
  background-color: #800000;
  border: 1px solid #800000;
  color: white;
}

.big-heading {
   
    font-family: "Montserrat", sans-serif !important; 
    font-weight: bolder !important;
    line-height: 80px;
    color: #DF352c;
  
}

.contact-card:hover {
  box-shadow: 1px 1px 25px 1px rgb(229, 221, 221);
  transition: all 0.4s ease-in-out;
}

.icons:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.navbar-hover {
  
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.navbar-hover:hover {
  color: #df352c;
}
.img-hover{
  filter: grayscale(80%);
}
.img-hover:hover {
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
  filter: grayscale(0%);
  cursor: pointer;
}



.list:hover {
  background-color: rgba(248, 243, 243, 0.823);
  cursor: pointer;
  color: #0e5462;
  transition: all 0.3s ease-in-out;
}
.icon-hover:hover {
  cursor: pointer;
  color: #1fb0ef;
  transition: all 0.3s ease-in-out;
}

.drop-down{
font-weight: 600;
transition: transform 0.3s ease;

}
.drop-down:hover{
  transform: translateX(6px);
  color: #df352c;

}
.drop-down-image{
  width: 60vh;
  height: 60vh;
}



.text-animate {
  padding: 20px;
  transition: transform 0.3s ease;
}
.text-animate:hover {
  transform: translateX(20px);
  color: #2787ba;
}


.footer-p{
color: #B1B5D3 !important;
font-family: "Alata", Sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 300%;
list-style: none;
}
.liststyle{
  list-style: none;
}
.footer-text{
  color:  #B1B5D3;
}
.footer-p-hover:hover{
color: white !important;
cursor: pointer;
}
.bg-footer{
}
.fa-arrow-right{
color: #df352c !important;
}

@media (min-width: 1024px){
  .topbar-info{
    padding-top: 7px;
    line-height: 30px;

  }
}


@media (max-width: 1024px){
  .icons{
    display: flex;
  flex-direction: column;
  }
  .big-heading{
    font-size: 60px;
    line-height: 75px;
  }
  .mobile-screen-img  {
    width: 100vh ;
    height: 70vh;
  }
  .topbar-info{
    padding-top: 7px;
  }
}

@media (max-width: 990px){
  .info-div{
    display: none;
  }

}

/* Responsive styles for screens up to 968px wide */
@media (max-width: 897px) {
  
  .mobile-screen-img  {
    width: 100vh ;
    height: 60vh;
  }
  .phone-icon{
display: none;
  }

  .drop-down-image{
    height: 100px;
    width: 100%;
  }
  .career-form-area {
    width: 50vh;
    background: linear-gradient(
      to right,
      #27a5de,
      #297dc0,
      #2966b0,
      #2a56a5,
      #2b4498
    );
  }

.my-contact {
  display: flex;
  align-items: center;
}
}
@media (max-width: 500px){

  .top-bar{
    display:none;

  }
  .topbar-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 20%;
  padding-top: 7px;
  }}
  @media (max-width: 280px){
.topbar-info{
  font-size: 12px;
  padding-top: 8px;
  
}

  }


@media (min-width: 776px) {
  .my-contact {
    flex-direction: row;
  }
  
}

.big-heading {
  font-size: 5rem;
  margin-top: 0px;
}

@media only screen and (max-width: 767px) {
  .big-heading {
    font-size: 28px;
    line-height: 40px;
  }
  .slick-slide {
    margin: 0;
  }

  .slick-next {
    display: none;
  }
  
  .para {
    font-size: 14;
    margin: 10px;
  }
  .card-icon {
    width: 30%;
  }
  .desc {
    font-size: smaller;
    margin-right: 60px;
  }
  .title {
    font-size: medium;
  }
  .card-list {
    font-size: medium;
  }
  .text-animate {
    font-size: small;
  }
  .bg-img {
    padding-bottom: 20%;
    height: fit-content;
    height: 100wh;
  }
}



@media only screen and (max-width: 670px) {
  .big-heading {
    font-size: large;
    margin: 0px;
  }
 
  }
  
  
  .drop-down-image{
    height: 370px;
    width: 95%;
  }

.back-to-top-button {
	position: fixed !important;
  color: #df352c;
	bottom: 30px;
	right: 20px;
	opacity: 0;
	transition: opacity 0.3s, visibility 0.3s;
	visibility: hidden;
  }
  
  .back-to-top-button.visible {
	opacity: 1;
	visibility: visible;
  }
  
  .back-to-top-button button {
	padding: 12px 12px;
	background-color: white;
	color: #df352c;
	border: none;
	border-radius: 2px;
	cursor: pointer;
  transition: all 0.3s ease-in-out;
  } 
  .back-to-top-button :hover{
    transform: translateY(6px)
    
  } 

  @media (max-width: 768px) {
    .back-to-top-button button {
		padding: 2px 10px;
		font-size: 10px;
    }
}

 
